<div *ngIf="loading">Please wait...</div>
<!-- <iframe id="game" frameborder="0" allow="autoplay" allowfullscreen="" seamless="" scrolling="no" 
        src="https://skillfite.io/?site=crazygames"
        height="100vh" width="100%" (load)="onIframeLoad()"></iframe> -->

        <iframe id="game-iframe" (load)="onIframeLoad()" src="https://skillfite.io/?site=crazygames" allow=" autoplay; payment; fullscreen; microphone; clipboard-read; clipboard-write 'self' https://skillfite.io?site=crazygames" webkitallowfullscreen="true" mozallowfullscreen="true" msallowfullscreen="true" allowfullscreen="true" sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-presentation allow-scripts allow-same-origin allow-downloads" style="border: 0px; background-color: rgb(255, 255, 255); width: 10px; height: 10px; min-width: 100%; min-height: 100%;"></iframe>
<!-- https://www.htmlgames.com/html5-games-for-your-site/ -->

