<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
        <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <!-- <ion-icon name="film-outline"></ion-icon> -->
                  </ion-buttons>
                  <ion-title class="ion-text-center">Movie App</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-row>
                <ion-col size="6" *ngFor="let videoId of ApiData">
                  <ion-card>
                    <ion-card-header class="textcolor">
                      {{videoId.title}}
                    </ion-card-header>
              
                    <div class="iframe-container">
                        
                      <iframe [src]="getVideoUrl(videoId.url)" frameborder="0" allowfullscreen></iframe>
                    </div>
              
                    <ion-card-content>
                      <p> <i class="fas fa-star"></i>{{videoId.rating}}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              
              
</ion-content>